# LinkedIn Firefox Selenium Scraper Configuration

LINKEDIN_EMAIL=your_email@example.com
LINKEDIN_PASSWORD=your_password

LINKEDIN_KEYWORDS=Software Engineer
LINKEDIN_LOCATION=Brazil
LINKEDIN_LIMIT=50
LINKEDIN_THREADS=2